<div class="container">
  <h1>Forms </h1>

  <tabset>
    <tab heading='Template Form'>
      <div class="panel ">
        <div class="panel-heading"><b>Profile info</b></div>

        <div class="panel-body">

          <app-template-fm></app-template-fm>
        </div>
      </div>
    </tab>

    <tab heading='Reactive Form'>
      <div class="panel">
        <div class="panel-heading"><b>Order</b></div>
        <div class="panel-body">
          <app-reactive-fm></app-reactive-fm>
        </div>
      </div>
    </tab>
  </tabset>
</div>