<div [ngClass] = "chicken.eggs > 4 ? 'bordered1' : 'bordered2' ">
<div class="row">
    <div class="col-md-6">
        <label>Name:</label>{{chicken.name}}
    </div>
    <div class="col-md-4">
        <label>Breed:</label>{{chicken.breed}}
    </div>
    <div class="col-md-4" *ngIf="chicken.eggs > 0">
        <label>Eggs:</label>{{chicken.eggs}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <span class="pull-right">
            <button (click)="addEgg()">Lay eggs</button>
            <button (click)="collectEggs()">Collect</button>
            <button (click)="deleteChicken(chicken.name)">Delete</button>
        </span>
    </div>
</div>
</div>