<div class="row">

  <div class="col-md-4">
    <label>Coop Stats</label>
    <div [ngStyle]="eggs > 5 ? {color:'green'} : {color:'blue'}">Eggs:{{eggs}}</div>
 

    <div>Collected:{{collectedEggs}}</div>
  </div>

  <div class="col-md-4">
    <div class="btn-group"> 
      <label class="btn btn-success" [(ngModel)]="sortChickensOrder" btnRadio="name"  >Name</label>
      <label class="btn btn-success" [(ngModel)]="sortChickensOrder" btnRadio="eggs"  >Eggs</label>
    </div>
  </div>

</div>

<br>

<div class="row">
  <div class="col-md-12">
    <ul class="list-unstyled">
      <li *ngFor="let chicken of peckingOrder()">
        <app-chicken [chicken]="chicken" (eggEvent)="eggEvent($event)" (deleteEvent)="deleteChickenFromList($event)"></app-chicken>
      </li>
    </ul>
  </div>
</div>